pandas
numpy
embedchain
opencv-python
pdfplumber
requests
beautifulsoup4
webdriver-manager
langchain
pandas
faiss-cpu
transformers
sentence-transformers
lxml_html_clean
requests_html
pymupdf
pytest
nest_asyncio
validators